.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
}

.bg-1 {
  background-size: cover;
  opacity: 1;
  background-image: url("./assets/italo.jpeg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 50%;
  height: 50%;
  left: 0;
  top: 0;
  background-position: center;
}

.bg-2 {
  background-size: cover;
  opacity: 1;
  background-image: url("./assets/eus2jampa.jpeg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  top: 0;
  background-position: center;
}

.bg-3 {
  background-size: cover;
  opacity: 1;
  background-image: url("./assets/beer.jpeg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 50%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-position: center;
}

.bg-4 {
  background-size: cover;
  opacity: 1;
  background-image: url("./assets/valentine.jpeg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  bottom: 0;
  background-position: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  z-index: 2;
}
